{
  "apps": {
    "traefik": {
      "variables": {
        "CF_DNS_API_TOKEN": "",
        "CF_CERTIFICATE_EMAIL": ""
      }
    },
    "n8n": {
      "variables": {
        "DOMAIN_NAME": "",
        "SUBDOMAIN": "",
        "GENERIC_TIMEZONE": "Europe/Prague",
      }
    },
    "cloudflared": {
      "variables": {
        "CF_TUNNEL_TOKEN": ""
      }
    }
  }
}